# Database Configuration
DB_URL=jdbc:mysql://mysql:3306/appveterinario
DB_USER=root    
DB_PASSWORD=password

# JWT Secrets - CHANGE THESE IN PRODUCTION
JWT_ACCESS_SECRET=access-token-important-for-not-cracking-it
JWT_REFRESH_SECRET=refresh-token-important-for-not-cracking-it
JWT_RESET_SECRET=reset-token-important-for-not-cracking-it
JWT_VERIFICATION_SECRET=verification-token-important-for-not-cracking-it
JWT_VETERINARIO_SECRET=veterinario-token-important-for-not-cracking-it

# Email Configuration
MAIL_USER=your_email@gmail.com
MAIL_PASS=your_app_password

APP_FRONTEND_URL= http://localhost
APP_BACKEND_URL=http://localhost/backend