DB_URL=jdbc:mysql://localhost:3306/appveterinario
DB_USER=root
DB_PASSWORD=change_me

JWT_ACCESS_SECRET=change_me
JWT_REFRESH_SECRET=change_me
JWT_RESET_SECRET=change_me
JWT_VERIFICATION_SECRET=change_me
JWT_VETERINARIO_SECRET=change_me

MAIL_USER=example@gmail.com
MAIL_PASS=change_me

APP_FRONTEND_URL=http://localhost:5173
APP_BACKEND_URL=http://localhost:8080/api