.navbar { 
    position: fixed;
    top: 0;
    left: 0;
    width: 99%;
    background-color: #f2f4f6;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
} 
#header {
    justify-content: right;
    margin-right: 4rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

}

.navbarOptions {
    
    display: flex;
    justify-content: left;
    padding: 1rem;
    margin-left: 1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.navbar-link {
    padding: 0rem 1rem;
    border-radius: 0.4rem;
    margin-right: 9rem;
    cursor: pointer;
    color: #ffffff;
    font-weight: 500;
}

.link-label {
    cursor: pointer;
}

.link-label:hover { 
    text-decoration: underline;
}