@font-face {
  font-family: Arial, Helvetica, sans-serif;
  src: url();
}

:root {
    --primary-normal: #D9D9D9;
    --primary-dark: #086317;

    --secondary-normal: #2F54B8;
    --secondary-dark: #C28C05;

    --text-100: #2A153B;
    --text-80: #564463;
    --text-60: #80728A;
    --text-40: #AAA1B1;
    --text-20: #D5D0D8;
    --text-0: #FFFFFF;

    --primary-normal-hover: #142c38;
    --primary-light-hover: #aac8d8;


}

body,html, body * {
    margin: 0;
    padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: var(--primary-normal-hover);
}