:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 90vw;
  min-height: 90vh;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.confirmationContainer {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
    
    width: 90%;
    max-width: 30rem; 
    text-align: center;
    
    margin: 0 auto 0 auto; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.confirmationContainer h2 {
    color: #333;
    font-size: 2rem;
    margin: 0;
}

.confirmationContainer button {
    padding: 0.8rem 4rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

.confirmationContainer .confirmation {
    background-color: #bdc3c7;
    color: white;
}

.confirmationContainer .confirmation:hover {
    background-color: #95a5a6;
}

.confirmationContainer .cancelar {
    background-color: #d01a29;
    color: #fff;
}

.confirmationContainer .cancelar:hover {
    background-color: #a52e2e;
}

.botoesConfirmation {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
    margin-top: 1rem;
}


.overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;   
    height: 100vh;
    
    z-index: 9999; 
    
    background-color: rgba(55, 48, 48, 0.7);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 5rem; 
  height: 2.5rem; 
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; 
  transition: 1s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  left: 0.1rem; 
  bottom: 0.25rem;
  background-color: white;
  transition: 1s;
  border-radius: 50%; /
}

input:checked + .slider {
  background-color: #2196F3; 
}

input:checked + .slider:before {
  transform: translateX(2.5rem); 
}

.slider.round {
  border-radius: 2rem;
}
